### Java ###
*.class
*.jar
*.war
*.ear
*.nar
*.car
hs_err_pid*
replay_pid*
*.log
*.jfr

### Package Files ###
*.zip
*.tar.gz
*.rar

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
build/
.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Temp / Backup ###
*.tmp
*.bak
*.swp
*.swo